extends includes/layout/layout-authen.pug
block pages 
  include includes/pages/section-authen-intro.pug
  include includes/pages/section-authen-breadcumb.pug
  include includes/components/modal-delete.pug
  include includes/components/modal-preview.pug

  -
    const dataBlogTable = [
      {
        title: 'ON THE SHORES OF A VANISHING ISLAND IN INDIA',
        des: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim. ad minim veniam',
        poster: './assets/images/image-blog-5.jpeg',
        author: 'Alisa Michaels',
        category: ['Vacation'],
        status: { label: 'Publish', status: 'success' },
        createdAt: 'Oct 8, 2019 - 12:00:02 PM',
      },
      {
        title: 'THE REAL NETHERLANDS: Q&A WITH CLEO WACHTER',
        des: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim. ad minim veniam',
        poster: './assets/images/image-blog-1.jpeg',
        author: 'Alisa Michaels',
        category: ['Camping'],
        status: { label: 'Unpublish', status: 'error' },
        createdAt: 'Oct 8, 2019 - 12:00:02 PM',
      },
      {
        title: 'PINGVELLIR, ICELAND’S OLDEST NATIONAL PARK',
        des: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim. ad minim veniam',
        poster: './assets/images/image-blog-2.jpeg',
        author: 'Alisa Michaels',
        category: ['Friendly', 'Low bugdet'],
        status: { label: 'Publish', status: 'success' },
        createdAt: 'Oct 8, 2019 - 12:00:02 PM',
      },
      {
        title: '22 THINGS TO KNOW BEFORE YOU GO TO KAZAKHSTAN',
        des: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim. ad minim veniam',
        poster: './assets/images/image-blog-3.jpeg',
        author: 'Alisa Michaels',
        category: ['Popular'],
        status: { label: 'Unpublish', status: 'error' },
        createdAt: 'Oct 8, 2019 - 12:00:02 PM',
      },
      {
        title: 'MUNICH – CITY THAT DESERVE MORE THAN A STOPOVER',
        des: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim. ad minim veniam',
        poster: './assets/images/image-blog-4.jpeg',
        author: 'Alisa Michaels',
        category: ['Adventure'],
        status: { label: 'Pending', status: 'warning' },
        createdAt: 'Oct 8, 2019 - 12:00:02 PM',
      },
    ]


  .page-dashboard
    .section-lastest-blog 
      .authen-table.custom-style-form 
        .table-header.flex.items-center.justify-content-between 
          .table-name Blog Managerment

        .table-action
          .form-group.auto
            .form-item.search
              input(type="text" placeholder="Search").border-gray.radius.medium
              button.btn-icon.btn-search
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;" xml:space="preserve"> <path d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667 S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6 c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z"/> </svg>
            .form-item 
              select.border-gray.radius.medium
                option(value="#") Category 
                option(value="#") Vacation 
                option(value="#") Camping 
                option(value="#") Fiendly 
                option(value="#") Popular 

            .form-item.horizontal.action-table-right
              .form-label Show 
              select.border-gray.radius.medium.mr-2
                option(value="#") 5 
                option(value="#") 10 
                option(value="#") 15 
                option(value="#") 20 

              include includes/components/button.pug
              +Button({ type: 'upload', link: '#', title: 'Add User', icon: './assets/icons/icon-plus-white.svg', className: 'primary medium width-auto radius', isHover: true })


        .table-body
          table 
            thead 
              tr 
                td.center #
                td Poster
                td Title 
                td Description 
                td.center Author
                td.center Category 
                td.center Status
                td.center Created At 
                td.table-action

            tbody
              each item, index in dataBlogTable
                tr 
                  td.center= index + 1
                  td
                    .table-image
                      img(src=`${item.poster}`, alt="")
                  td
                    .table-ellipsis-2.open-modal-preview(data-toggle="modal" data-target="#modalPreview" data-image=`./assets/images/image-blog-${index + 1}.jpeg`)
                      a(href="#").table-link= item.title
                  td
                    .table-ellipsis-2
                      p= item.des
                  td.center= item.author
                  td
                    .table-tags.auto
                      each tag in item.category
                        .tag-item= tag
                  td
                    .table-tags
                      .tag-item(class=`${item.status.status}`)= item.status.label 
                  td.min-width-200.center= item.createdAt
                  td.table-action
                    .dropdown 
                      .table-more.dropdown-toggle.hide-arrow(id="dropdownTableMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        button.btn-icon
                          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve"> <circle cx="192" cy="42.667" r="42.667"/> <circle cx="192" cy="192" r="42.667"/> <circle cx="192" cy="341.333" r="42.667"/> </svg>
                      ul.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownTableMore")
                        a(href="#").dropdown-item 
                          <svg height="512pt" viewBox="0 0 512 511" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 256.484375c-11.796875 0-21.332031 9.558594-21.332031 21.332031v170.667969c0 11.753906-9.558594 21.332031-21.332031 21.332031h-298.667969c-11.777344 0-21.332031-9.578125-21.332031-21.332031v-298.667969c0-11.753906 9.554687-21.332031 21.332031-21.332031h170.667969c11.796875 0 21.332031-9.558594 21.332031-21.332031 0-11.777344-9.535156-21.335938-21.332031-21.335938h-170.667969c-35.285156 0-64 28.714844-64 64v298.667969c0 35.285156 28.714844 64 64 64h298.667969c35.285156 0 64-28.714844 64-64v-170.667969c0-11.796875-9.539063-21.332031-21.335938-21.332031zm0 0"/><path d="m200.019531 237.050781c-1.492187 1.492188-2.496093 3.390625-2.921875 5.4375l-15.082031 75.4375c-.703125 3.496094.40625 7.101563 2.921875 9.640625 2.027344 2.027344 4.757812 3.113282 7.554688 3.113282.679687 0 1.386718-.0625 2.089843-.210938l75.414063-15.082031c2.089844-.429688 3.988281-1.429688 5.460937-2.925781l168.789063-168.789063-75.414063-75.410156zm0 0"/><path d="m496.382812 16.101562c-20.796874-20.800781-54.632812-20.800781-75.414062 0l-29.523438 29.523438 75.414063 75.414062 29.523437-29.527343c10.070313-10.046875 15.617188-23.445313 15.617188-37.695313s-5.546875-27.648437-15.617188-37.714844zm0 0"/></svg>
                          |Edit
                        if item.status.status !== 'error'
                          a(href="#").dropdown-item 
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve"> <path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035 c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201 C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418 c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418 C447.361,287.923,358.746,385.406,255.997,385.406z"/> <path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275 s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516 s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"/> </svg>
                            |View
                          a(href="#").dropdown-item.red
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.1 512.1" style="enable-background:new 0 0 512.1 512.1;" xml:space="preserve"> <path d="M426.6,188.2C403,93.9,307.4,36.7,213.1,60.4C139.4,78.9,85.9,142.5,80.4,218.3c-52.3,8.6-87.7,58-79.1,110.3 c7.7,46.5,48,80.6,95.1,80.4h80v-32h-80c-35.3,0-64-28.7-64-64s28.7-64,64-64c8.8,0,16-7.2,16-16 C112.3,153.5,176.7,89,256.3,88.9c68.8-0.1,128.1,48.6,141.4,116.1c1.3,6.7,6.8,11.9,13.6,12.8c43.7,6.2,74.2,46.7,67.9,90.5 c-5.6,39.3-39.1,68.5-78.8,68.7h-64v32h64c61.9-0.2,111.8-50.5,111.7-112.3C511.9,245.2,476.7,200.4,426.6,188.2z"/> <path d="M267.6,452.4l64-64L309,365.8l-36.8,36.6V249h-32v153.4l-36.6-36.6L181,388.4l64,64C251.3,458.6,261.4,458.6,267.6,452.4 z"/> </svg>
                            |Unpublish
                        else 
                          a(href="#").dropdown-item
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.056 512.056" style="enable-background:new 0 0 512.056 512.056;" xml:space="preserve"> <path d="M426.635,188.224C402.969,93.946,307.358,36.704,213.08,60.37C139.404,78.865,85.907,142.542,80.395,218.303 C28.082,226.93-7.333,276.331,1.294,328.644c7.669,46.507,47.967,80.566,95.101,80.379h80v-32h-80c-35.346,0-64-28.654-64-64 c0-35.346,28.654-64,64-64c8.837,0,16-7.163,16-16c-0.08-79.529,64.327-144.065,143.856-144.144 c68.844-0.069,128.107,48.601,141.424,116.144c1.315,6.744,6.788,11.896,13.6,12.8c43.742,6.229,74.151,46.738,67.923,90.479 c-5.593,39.278-39.129,68.523-78.803,68.721h-64v32h64c61.856-0.187,111.848-50.483,111.66-112.339 C511.899,245.194,476.655,200.443,426.635,188.224z"/> <path d="M245.035,253.664l-64,64l22.56,22.56l36.8-36.64v153.44h32v-153.44l36.64,36.64l22.56-22.56l-64-64 C261.354,247.46,251.276,247.46,245.035,253.664z"/> </svg>
                            |Publish
                        .line
                        .dropdown-item.red.open-modal-delete(data-toggle="modal" data-target="#modalDelete" data-id="abc" data-name="xyz")
                          <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m424 64h-88v-16c0-26.467-21.533-48-48-48h-64c-26.467 0-48 21.533-48 48v16h-88c-22.056 0-40 17.944-40 40v56c0 8.836 7.164 16 16 16h8.744l13.823 290.283c1.221 25.636 22.281 45.717 47.945 45.717h242.976c25.665 0 46.725-20.081 47.945-45.717l13.823-290.283h8.744c8.836 0 16-7.164 16-16v-56c0-22.056-17.944-40-40-40zm-216-16c0-8.822 7.178-16 16-16h64c8.822 0 16 7.178 16 16v16h-96zm-128 56c0-4.411 3.589-8 8-8h336c4.411 0 8 3.589 8 8v40c-4.931 0-331.567 0-352 0zm313.469 360.761c-.407 8.545-7.427 15.239-15.981 15.239h-242.976c-8.555 0-15.575-6.694-15.981-15.239l-13.751-288.761h302.44z"/><path d="m256 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path d="m336 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path d="m176 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/></g></svg>
                          |Delete

          //- .table-no-data.flex.items-center.justify-center.flex-column
          //-   .no-data-icon.flex.items-center.justify-center
          //-     img(src="./assets/icons/icon-no-data-green.svg", alt="")
          //-   .no-data-text Sorry, there are no data in here

        .table-footer.flex.items-center.justify-between 
          include includes/components/pagination.pug
          p.table-total Total Blog: 12
